/Proyecto_SerializacionFiles/nbproject/private/
/Proyecto_SerializacionFiles/build/
/Proyecto_FlujoFiles_BasadosCaracteres/nbproject/private/
/Proyecto_FlujoFiles_BasadosCaracteres/build/
/Proyecto_SistemaAprobacionAsignaturas/nbproject/private/
/Proyecto_SistemaAprobacionAsignaturas/build/
/Proyecto_SistemaAprobacionAsignaturasEst_V2/nbproject/private/
/Proyecto_SistemaAprobacionAsignaturasEst_V2/build/
